main h1 {
    font-family: 'Metal Mania', cursive;
    background-color: #2850CE;
    color: #FFFFFF;
    text-align: center;
    
}
h2 { 
   font-size: 40px;
   font-family: "Time News Romans",sans-serif;
}
p {
   font-size: 30px;
}