main h1 {
    font-family: 'Metal Mania', cursive;
    background-color: #2850CE;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;  
       
}
h2 { 
   font-size: 40px;
   font-family: "Time News Romans",sans-serif;
}
p {
   font-size: 30px;
   margin: 5px 0;
}
blockquote {
    text-align: center;
    padding: 16px;
    margin: 0;
    border: 10px solid #C2CCCA;
    width: 198px;
    box-sizing: border-box;
}

aside {
    text-align: center;
    font-family: 'Metal Mania', cursive;
    background-color: #2850CE;
    color: #FFFFFF;
    text-align: center;
}

.icones-sociais li{
    display: inline;

}